body {
  position: relative;
}

.viewport {
  margin-top: 100px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 4vw;
}

.jumbo-inner {
  height: 50vh;
}

.me-jumbotron {
  background-image: url('me.jpg');
  background-size: cover;
  background-position: 20% 65%;
  padding: 1em 1em 1em 1em;
  background-color: red;
  margin-bottom: 0px;
}

.face {
  max-width: 150px;
}

.icons a {
  color: black;
  font-size: 4rem;
}
.icons a:hover {
  color: #999;
  text-shadow: 2px 2px 3px black;
}

dd {
  margin-left: 30px;
}
